body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav li a {
  font-size: 17px;
}
.navbar-brand {
  letter-spacing: 3px;
}

.header-section {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.main-container-body {
  margin-top: 85px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  background: #f8f9fa;
  max-height: 100%;
}

.social-media-icons {
  gap: 20px;
}

.social-media-icons img {
  cursor: pointer;
}

.switch-container {
  margin: 15px 0;
}
